:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.project-table th,
.project-table td {
  border: none;
  padding: 20px;
  text-align: left;
}

.project-table td {
  width: 250px;
  padding-left: 70px;
}

.project-table th {
  font-weight: bold;
}

/* Add this CSS to your stylesheet or component */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.inspect-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.inspect-content {
  background-color: #fff; /* White background for content */
  padding: 20px;
  max-width: 80%; /* Adjust as needed */
  max-height: 80%; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

/* Mobile styles (example) */
@media screen and (max-width: 600px) {
  .inspect-content {
    max-width: 90%; /* Adjust as needed for smaller screens */
    max-height: 90%; /* Adjust as needed for smaller screens */
  }
}

.popup-overlay.hide {
  display: none;
}

.button-container button {
  margin-right: 8px; /* Adjust as needed */
}

.login-register-form-button button {
  margin-top: 8px;
}

.login-register-div {
  margin: 10px;
}

.login-register-div input, label {
  width: 200px;
  margin-left: 15px;
}

#login-form-div {
  margin-left: -25px;
}

#register-user {
  margin-left: 60px;
}

#register-pwd {
  margin-left: 66px;
}

.custom-file-upload {
  margin:10px;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

.upload-button {
  margin: 8px;
}

.red-button {
  background-color: rgb(177, 5, 5);
}